$zynx-logo-blush: theme-image($theme-name, 'shared/zynx-logo-blush.png', false, false) no-repeat;
$banner-background-color:  #00326b;

$header-lined-bg: theme-image($theme-name, 'shared/ce-header-bg.png', false, false) repeat;
$header-background-color: #EFECE3;
