$contentexplorer-application-background: #FFFFFF;
$contentexplorer-grid-header-hover-background: #505050;
$contentexplorer-grid-header-background: #8c8c8c;
$contentexplorer-grid-header-sort-image: 'grid/grid3-hd-btn-grey.gif';

$contentexplorer-sprite-button-default: $sprite no-repeat -25px -74px;
$contentexplorer-sprite-button-default-hover: $sprite no-repeat -750px -74px;
$contentexplorer-sprite-button-focus: $sprite no-repeat -25px -2px;
$contentexplorer-sprite-button-click: $sprite no-repeat -25px -38px;
$contentexplorer-sprite-button-close-circle: $sprite no-repeat -215px -617px;
$contentexplorer-sprite-checked-out-header: $sprite no-repeat -148px -214px;
$contentexplorer-sprite-content-issue-header: $sprite no-repeat -150px -236px;
$contentexplorer-sprite-published-header: $sprite no-repeat -148px -261px;
$contentexplorer-sprite-content-issue-icon: $sprite no-repeat -215px -238px;
$contentexplorer-sprite-content-published-icon: $sprite no-repeat -215px -264px;
$contentexplorer-sprite-warning-triangle: $sprite no-repeat -1149px -465px;
$contentexplorer-sprite-trashcan: $sprite no-repeat -215px -645px;
$contentexplorer-sprite-lock: $sprite no-repeat -215px -215px;
$contentexplorer-dialog-btn-textcolor: #333333;
$contentexplorer-dialog-btn-focus-textcolor: #FFFFFF;
$contentexplorer-grid-content-name-color: #006DCE;
$contentexplorer-grid-content-version-color: #747474;
$contentexplorer-grid-selected-background: #F9F4BD;
$contentexplorer-grid-hover-background: #E5EFF9;
$contentexplorer-instruction-step-bg: #999;
$contentexplorer-grid-folder-banner-bg: #f8f3b6;
$contentexplorer-link-color: #0076BA;

$contentexplorer-sprite-new-button-focus: $sprite no-repeat 0px -2px;
$contentexplorer-sprite-new-button-click: $sprite no-repeat 0px -38px;

$contentexplorer-tree-elbow-height: 28px;
$contentexplorer-tree-background-color: #e8e8e8;
$contentexplorer-tree-expanded-background-color: #d5dee7;
$contentexplorer-tree-expanded-my-content-background-color: #fff;
$contentexplorer-tree-expanded-deleted-content-background-color: #333;
$contentexplorer-tree-expanded-deleted-content-foreground-color: #fff;