$grid-header-background-color: $zynx-header-background-color;

$grid-row-cell-background: #FFFFFF;
$grid-row-cell-alt-background: #C7D8EF;
$grid-row-cell-selected-background-color: $zynx-selected-background-color;
$grid-row-cell-selected-border-color: #666666;
// $grid-row-cell-over-background-color: transparent;
$grid-cell-with-col-lines-border-color: #EDEDED;
$grid-header-color: #FFFFFF;

$grid-grouped-title-font: 12px $font-family;
$grid-grouped-header-border-width: 0 0 1px 0;
$grid-grouped-header-border-color: #EDEDED;
$grid-grouped-header-background-color: #2A4F94;
$grid-grouped-title-color: #FFFFFF;