$loadmask-msg-inner-padding: 5px 0px 5px 0px; 
$loadmask-msg-inner-icon: 'icons/loading-32.gif';
$loadmask-backgorund: #FFFFFF;
$loadmask-msg-padding: 4px 0px 4px 10px;
$loadmask-msg-background-gradient: false;
$loadmask-msg-background-color: #FFFFFF;
$loadmask-msg-inner-border-color: transparent;
$loadmask-msg-inner-color: $zynx-active-element-background-color;
$loadmask-msg-inner-font: 14px bold $font-family;
$loadmask-msg-inner-background-color: #FFFFFF;