$messageBanner-error-triangle: $sprite-ce no-repeat -216px -239px;
$messageBanner-close-circle: $sprite-ce no-repeat -578px -112px;

$messageBanner-error-background: #F90634;
$messageBanner-error-border: 1px solid #ff0000;
$messageBanner-error-font-color: #fff;

$messageBanner-success-background: #1BB11A;
$messageBanner-success-border: 1px solid green;
$messageBanner-success-font-color: #fff;

$messageBanner-info-background: #acdbf9;
$messageBanner-info-border: 1px solid blue;
$messageBanner-info-font-color: #fff;
