$panel-header-padding: 0px 0 4px 0;
$panel-header-background-color: transparent;
$panel-header-inner-border-color: transparent;
$panel-header-color: $zynx-header-color;
$panel-header-font-size: 12px;
$panel-header-font-weight: bold;
$panel-header-background-gradient: null;

$panel-border-color: $zynx-border-color;
