$tab-top-border-radius: 0;
$tab-background: #404040;
$tab-background-active: #BEBEBE;
$tab-base-color: $tab-background;
$tab-border-color: $tab-background;
$tab-background-gradient: null;
$tab-background-gradient-over: null;
$tab-background-gradient-active: null;
$tab-background-gradient-disabled: null;
$tab-inner-border: false;
$tab-height: 30px;
$tabbar-top-body-padding: 0;
$tab-top-border-width: 0;
$tab-top-border-radius: 0;
$tabbar-top-strip-border-width: 0;
$tabbar-top-body-border-width: 0;
$tabbar-strip-height: 0;
$tab-color: #FFFFFF;
$tab-color-over: #FFFFFF;
$tab-color-active: #000000;
$tab-color-disabled: #FFFFFF;
$tab-font-size: 12px;
$tab-background-over: #DEDEDE;