$toolbar-background-color: transparent;
$toolbar-background-gradient: null;
$toolbar-inner-border-color: $toolbar-background-color;
$toolbar-separator-color: $toolbar-background-color;
$toolbar-separator-highlight-color: $toolbar-background-color;
$toolbar-vertical-spacing: 0;
$toolbar-horizontal-spacing: 0;
