$window-header-background-color: $zynx-active-element-background-color;
$window-header-padding: 5px 5px 4px 5px;
$window-inner-border-color: null;
$window-body-border-width: 0;
$window-border-radius: 0;
$window-body-background-color: #FFFFFF;
$window-background-color: #FFFFFF;
$window-header-color: #FFFFFF;
$window-header-font-size: 15px;
$window-header-font-weight: normal;