
@mixin btn-corners($background) {
  .#{$prefix}btn-tl, .#{$prefix}btn-tr, .#{$prefix}btn-tc, .#{$prefix}btn-ml, .#{$prefix}btn-mr, .#{$prefix}btn-mc, .#{$prefix}btn-bl, .#{$prefix}btn-br, .#{$prefix}btn-bc {
    background-image: none;
    background-color: $background;
  }
}

.#{$prefix}toolbar .#{$prefix}btn.#{$prefix}btn-icon {
   background-color: transparent;
}

.#{$prefix}toolbar .#{$prefix}btn-icon.#{$prefix}btn-over {
   background-color: transparent;
   border: 1px solid $zynx-secondary-border-color;
}

@mixin disabled-buttons-styles($bgcolor) {
    border-color: transparent;
    background-image: none;
    background: $bgcolor;
}
@mixin disabled-buttons($bgcolor) {
  .#{$prefix}btn-default-toolbar-small-disabled,
  .#{$prefix}btn-default-toolbar-medium-disabled,
  .#{$prefix}btn-default-toolbar-large-disabled,
  .#{$prefix}btn-default-small-disabled,
  .#{$prefix}btn-default-medium-disabled,
  .#{$prefix}btn-default-large-disabled {
    @include disabled-buttons-styles($bgcolor);
  }
}

@include disabled-buttons($button-toolbar-background-color-disabled);

.#{$prefix}nbr {
  @include disabled-buttons($button-toolbar-background-color-disabled);
  .#{$prefix}btn-default-small,
  .#{$prefix}btn-default-medium,
  .#{$prefix}btn-default-large { 
    background-image: none;
    background-color: $button-default-background-color;
  }
  .#{$prefix}html-editor-tb {
    @include disabled-buttons(transparent);
    .#{$prefix}frame-mc {
      @include disabled-buttons-styles(transparent !important);
    }
  }
}

.#{$prefix}html-editor-tb {
  @include disabled-buttons(transparent);
}


.#{$prefix}btn-disabled,
.result-button-replace-disabled,
.result-button-remopve-disabled  {
  @include opacity(0.6);
}

.#{$prefix}btn-disabled span {
  @include opacity(1);
}

.#{$prefix}ie6 .#{$prefix}btn-disabled,
.#{$prefix}ie7 .#{$prefix}btn-disabled,
.#{$prefix}ie8 .#{$prefix}btn-disabled {
    .#{$prefix}btn-icon {
        @include opacity(1);
    }

    .#{$prefix}btn-icon.plus {
        filter: none;
    }
}


#contentReportGrid .#{$prefix}toolbar {
  @include btn-corners(transparent);
  .#{$prefix}btn {
    background-color: transparent;
    background-image: none;
  }
}

.#{$prefix}btn-over {
   @include btn-corners($zynx-secondary-border-color);
}

.#{$prefix}nlg {
   .#{$prefix}btn-over {
      @extend .#{$prefix}btn-over;
   }
}

.plain-btn {
   @include btn-corners(#FFFFFF);
}

.grey-btn {
   @include btn-corners(#8C8C8C);
}

/* Setting white-space normal above causes buttons that are in a toolbar after a spacer (i.e. right-aligned buttons)
 * causes them to word wrap and no longer fit inside the toolbar, we need to turn it back to nowrap for these
 */

.#{$prefix}toolbar-right .#{$prefix}btn button {
  white-space: nowrap;
}

/* Button Icons */

.left-arrow {
  background-image: theme-background-image($theme-name, 'button/arrow_left.gif');
  margin-top: 50px;
}

.right-arrow {
  background-image: theme-background-image($theme-name, 'button/arrow_right.gif');
  margin-top: 50px;
}

.up-arrow {
  background-image: theme-background-image($theme-name, 'button/arrow_up.gif');
}

.down-arrow {
  background-image: theme-background-image($theme-name, 'button/arrow_down.gif');
}

.search {
  background-image: theme-background-image($theme-name, 'button/search.png');
}

.plus {
  background-image: theme-background-image($theme-name, 'button/plus.gif');
}

.close {
  background-image: theme-background-image($theme-name, 'icons/close-icon.png');
}

.help {
  background-image: theme-background-image($theme-name, 'button/help.png');
}

.feedback{
  background-image: theme-background-image($theme-name, 'button/feedback.png');
}



$app-btn-border-color-default: #1975ac;
$app-btn-background-color-default: #7bb0e7;
@include extjs-button-ui(
    'app-btn-medium',  
    
    3px,
    
    1px,
            
    $app-btn-border-color-default,
    $app-btn-border-color-default,
    $app-btn-border-color-default,
    #144462,
    $button-default-border-color-disabled,
    
    $button-medium-padding,
    $button-medium-text-padding,
    
    $app-btn-background-color-default,
    $app-btn-background-color-default,
    $app-btn-background-color-default,
    #5380ae,
    $button-default-background-color-disabled,
    
    'glossy-button',
    'glossy-button-over',
    $button-default-background-gradient-over,
    'glossy-button-pressed',
    'glossy-button-disabled',

    $button-default-color,
    $button-default-color-over,
    $button-default-color-focus,
    $button-default-color-pressed,
    $button-default-color-disabled,
            
    $button-medium-font-size,
    $button-medium-font-size-over,
    $button-medium-font-size-focus,
    $button-medium-font-size-pressed,
    $button-medium-font-size-disabled,
    
    $button-medium-font-weight,
    $button-medium-font-weight-over,
    $button-medium-font-weight-focus,
    $button-medium-font-weight-pressed,
    $button-medium-font-weight-disabled,
    
    $button-medium-font-family,
    $button-medium-font-family-over,
    $button-medium-font-family-focus,
    $button-medium-font-family-pressed,
    $button-medium-font-family-disabled,
    
    23px
);

$main-btn-border-color: #1472d0;
$main-btn-border-color-over: #0167cc;
$main-btn-border-color-disabled: #bbb;
$main-btn-background-color: #3888d7;
$main-btn-background-color-over: #086cce;
$main-btn-background-color-disabled: #ccc;
$main-btn-background-gradient: glossy;
$main-btn-color: #fff;

@include extjs-button-ui(
  'main-btn-toolbar-small',

  $border-radius: 3px,

  $border-width: 1px,

  $border-color: $main-btn-border-color,
  $border-color-over: $main-btn-border-color-over,
  $border-color-focus: $main-btn-border-color,
  $border-color-pressed: $main-btn-border-color,
  $border-color-disabled: $main-btn-border-color-disabled,

  $padding: $button-small-padding,
  $text-padding: $button-small-text-padding,

  $background-color: $main-btn-background-color,
  $background-color-over: $main-btn-background-color-over,
  $background-color-focus: $main-btn-background-color,
  $background-color-pressed: $main-btn-background-color,
  $background-color-disabled: $main-btn-background-color-disabled,

  $background-gradient: $main-btn-background-gradient,
  $background-gradient-over: $main-btn-background-gradient,
  $background-gradient-focus: $main-btn-background-gradient,
  $background-gradient-pressed: $main-btn-background-gradient,
  $background-gradient-disabled: $main-btn-background-gradient,

  $color: $main-btn-color,
  $color-over: $main-btn-color,
  $color-focus: $main-btn-color,
  $color-pressed: $main-btn-color,
  $color-disabled: $main-btn-color,

  $font-size: $button-small-font-size,
  $font-size-over: $button-small-font-size-over,
  $font-size-focus: $button-small-font-size-focus,
  $font-size-pressed: $button-small-font-size-pressed,
  $font-size-disabled: $button-small-font-size-disabled,

  $font-weight: $button-small-font-weight,
  $font-weight-over: $button-small-font-weight-over,
  $font-weight-focus: $button-small-font-weight-focus,
  $font-weight-pressed: $button-small-font-weight-pressed,
  $font-weight-disabled: $button-small-font-weight-disabled,

  $font-family: $button-small-font-family,
  $font-family-over: $button-small-font-family-over,
  $font-family-focus: $button-small-font-family-focus,
  $font-family-pressed: $button-small-font-family-pressed,
  $font-family-disabled:  $button-small-font-family-disabled,

  $icon-size: $button-small-icon-size
);
@include extjs-button-ui(
  'main-btn-toolbar-small',

  $border-radius: 3px,

  $border-width: 1px,

  $border-color: $main-btn-border-color,
  $border-color-over: $main-btn-border-color-over,
  $border-color-focus: $main-btn-border-color,
  $border-color-pressed: $main-btn-border-color-over,
  $border-color-disabled: $main-btn-border-color-disabled,

  $padding: $button-small-padding,
  $text-padding: $button-small-text-padding,

  $background-color: $main-btn-background-color,
  $background-color-over: $main-btn-background-color-over,
  $background-color-focus: $main-btn-background-color,
  $background-color-pressed: $main-btn-background-color-over,
  $background-color-disabled: $main-btn-background-color-disabled,

  $background-gradient: $main-btn-background-gradient,
  $background-gradient-over: $main-btn-background-gradient,
  $background-gradient-focus: $main-btn-background-gradient,
  $background-gradient-pressed: $main-btn-background-gradient,
  $background-gradient-disabled: $main-btn-background-gradient,

  $color: $main-btn-color,
  $color-over: $main-btn-color,
  $color-focus: $main-btn-color,
  $color-pressed: $main-btn-color,
  $color-disabled: $main-btn-color,

  $font-size: $button-small-font-size,
  $font-size-over: $button-small-font-size-over,
  $font-size-focus: $button-small-font-size-focus,
  $font-size-pressed: $button-small-font-size-pressed,
  $font-size-disabled: $button-small-font-size-disabled,

  $font-weight: $button-small-font-weight,
  $font-weight-over: $button-small-font-weight-over,
  $font-weight-focus: $button-small-font-weight-focus,
  $font-weight-pressed: $button-small-font-weight-pressed,
  $font-weight-disabled: $button-small-font-weight-disabled,

  $font-family: $button-small-font-family,
  $font-family-over: $button-small-font-family-over,
  $font-family-focus: $button-small-font-family-focus,
  $font-family-pressed: $button-small-font-family-pressed,
  $font-family-disabled:  $button-small-font-family-disabled,

  $icon-size: $button-small-icon-size
);

@include extjs-button-ui(
  'main-btn-small',

  $border-radius: 3px,

  $border-width: 1px,

  $border-color: $main-btn-border-color,
  $border-color-over: $main-btn-border-color-over,
  $border-color-focus: $main-btn-border-color,
  $border-color-pressed: $main-btn-border-color-over,
  $border-color-disabled: $main-btn-border-color-disabled,

  $padding: $button-small-padding,
  $text-padding: $button-small-text-padding,

  $background-color: $main-btn-background-color,
  $background-color-over: $main-btn-background-color-over,
  $background-color-focus: $main-btn-background-color,
  $background-color-pressed: $main-btn-background-color-over,
  $background-color-disabled: $main-btn-background-color-disabled,

  $background-gradient: $main-btn-background-gradient,
  $background-gradient-over: $main-btn-background-gradient,
  $background-gradient-focus: $main-btn-background-gradient,
  $background-gradient-pressed: $main-btn-background-gradient,
  $background-gradient-disabled: $main-btn-background-gradient,

  $color: $main-btn-color,
  $color-over: $main-btn-color,
  $color-focus: $main-btn-color,
  $color-pressed: $main-btn-color,
  $color-disabled: $main-btn-color,

  $font-size: $button-small-font-size,
  $font-size-over: $button-small-font-size-over,
  $font-size-focus: $button-small-font-size-focus,
  $font-size-pressed: $button-small-font-size-pressed,
  $font-size-disabled: $button-small-font-size-disabled,

  $font-weight: $button-small-font-weight,
  $font-weight-over: $button-small-font-weight-over,
  $font-weight-focus: $button-small-font-weight-focus,
  $font-weight-pressed: $button-small-font-weight-pressed,
  $font-weight-disabled: $button-small-font-weight-disabled,

  $font-family: $button-small-font-family,
  $font-family-over: $button-small-font-family-over,
  $font-family-focus: $button-small-font-family-focus,
  $font-family-pressed: $button-small-font-family-pressed,
  $font-family-disabled:  $button-small-font-family-disabled,

  $icon-size: $button-small-icon-size
);


$cancel-btn-background-color: #ccc;
$cancel-btn-border-color: #bbb;
$cancel-btn-color: #000;
@include extjs-button-ui(
  'cancel-btn-toolbar-small',

  $border-radius: 3px,

  $border-width: 1px,

  $border-color: $cancel-btn-border-color,
  $border-color-over: $cancel-btn-border-color,
  $border-color-focus: $cancel-btn-border-color,
  $border-color-pressed: $cancel-btn-border-color,
  $border-color-disabled: $cancel-btn-border-color,

  $padding: $button-small-padding,
  $text-padding: $button-small-text-padding,

  $background-color: $cancel-btn-background-color,
  $background-color-over: $cancel-btn-background-color,
  $background-color-focus: $cancel-btn-background-color,
  $background-color-pressed: $cancel-btn-background-color,
  $background-color-disabled: $cancel-btn-background-color,

  $background-gradient: $main-btn-background-gradient,
  $background-gradient-over: $main-btn-background-gradient,
  $background-gradient-focus: $main-btn-background-gradient,
  $background-gradient-pressed: $main-btn-background-gradient,
  $background-gradient-disabled: $main-btn-background-gradient,

  $color: $cancel-btn-color,
  $color-over: $cancel-btn-color,
  $color-focus: $cancel-btn-color,
  $color-pressed: $cancel-btn-color,
  $color-disabled: $cancel-btn-color,

  $font-size: $button-small-font-size,
  $font-size-over: $button-small-font-size-over,
  $font-size-focus: $button-small-font-size-focus,
  $font-size-pressed: $button-small-font-size-pressed,
  $font-size-disabled: $button-small-font-size-disabled,

  $font-weight: $button-small-font-weight,
  $font-weight-over: $button-small-font-weight-over,
  $font-weight-focus: $button-small-font-weight-focus,
  $font-weight-pressed: $button-small-font-weight-pressed,
  $font-weight-disabled: $button-small-font-weight-disabled,

  $font-family: $button-small-font-family,
  $font-family-over: $button-small-font-family-over,
  $font-family-focus: $button-small-font-family-focus,
  $font-family-pressed: $button-small-font-family-pressed,
  $font-family-disabled:  $button-small-font-family-disabled,

  $icon-size: $button-small-icon-size
);

@include extjs-button-ui(
  'cancel-btn-small',

  $border-radius: 3px,

  $border-width: 1px,

  $border-color: $cancel-btn-border-color,
  $border-color-over: $cancel-btn-border-color,
  $border-color-focus: $cancel-btn-border-color,
  $border-color-pressed: $cancel-btn-border-color,
  $border-color-disabled: $cancel-btn-border-color,

  $padding: $button-small-padding,
  $text-padding: $button-small-text-padding,

  $background-color: $cancel-btn-background-color,
  $background-color-over: $cancel-btn-background-color,
  $background-color-focus: $cancel-btn-background-color,
  $background-color-pressed: $cancel-btn-background-color,
  $background-color-disabled: $cancel-btn-background-color,

  $background-gradient: $main-btn-background-gradient,
  $background-gradient-over: $main-btn-background-gradient,
  $background-gradient-focus: $main-btn-background-gradient,
  $background-gradient-pressed: $main-btn-background-gradient,
  $background-gradient-disabled: $main-btn-background-gradient,

  $color: $cancel-btn-color,
  $color-over: $cancel-btn-color,
  $color-focus: $cancel-btn-color,
  $color-pressed: $cancel-btn-color,
  $color-disabled: $cancel-btn-color,

  $font-size: $button-small-font-size,
  $font-size-over: $button-small-font-size-over,
  $font-size-focus: $button-small-font-size-focus,
  $font-size-pressed: $button-small-font-size-pressed,
  $font-size-disabled: $button-small-font-size-disabled,

  $font-weight: $button-small-font-weight,
  $font-weight-over: $button-small-font-weight-over,
  $font-weight-focus: $button-small-font-weight-focus,
  $font-weight-pressed: $button-small-font-weight-pressed,
  $font-weight-disabled: $button-small-font-weight-disabled,

  $font-family: $button-small-font-family,
  $font-family-over: $button-small-font-family-over,
  $font-family-focus: $button-small-font-family-focus,
  $font-family-pressed: $button-small-font-family-pressed,
  $font-family-disabled:  $button-small-font-family-disabled,

  $icon-size: $button-small-icon-size
);

$header-btn-border-color: #184B85;
$header-btn-background-color: #336093;
$header-btn-font-size: 14px;
//$header-btn-font-family: Georgia;
$header-btn-font-family: $font-family;

@include extjs-button-ui(
  'header-btn-small',

  $border-radius: 3px,

  $border-width: 1px,

  $border-color: $header-btn-border-color,
  $border-color-over: $header-btn-border-color,
  $border-color-focus: $header-btn-border-color,
  $border-color-pressed: $header-btn-border-color,
  $border-color-disabled: $header-btn-border-color,

  $padding: $button-small-padding,
  $text-padding: $button-small-text-padding,

  $background-color: $header-btn-background-color,
  $background-color-over: $header-btn-background-color,
  $background-color-focus: $header-btn-background-color,
  $background-color-pressed: $header-btn-background-color,
  $background-color-disabled: $header-btn-background-color,

  $background-gradient: glossy,
  $background-gradient-over: glossy,
  $background-gradient-focus: glossy,
  $background-gradient-pressed: glossy,
  $background-gradient-disabled: glossy,

  $color: $main-btn-color,
  $color-over: $main-btn-color,
  $color-focus: $main-btn-color,
  $color-pressed: $main-btn-color,
  $color-disabled: $main-btn-color,

  $font-size: $header-btn-font-size,
  $font-size-over: $header-btn-font-size,
  $font-size-focus: $header-btn-font-size,
  $font-size-pressed: $header-btn-font-size,
  $font-size-disabled: $header-btn-font-size,

  $font-weight: $button-small-font-weight,
  $font-weight-over: $button-small-font-weight-over,
  $font-weight-focus: $button-small-font-weight-focus,
  $font-weight-pressed: $button-small-font-weight-pressed,
  $font-weight-disabled: $button-small-font-weight-disabled,

  $font-family: $header-btn-font-family,
  $font-family-over: $header-btn-font-family,
  $font-family-focus: $header-btn-font-family,
  $font-family-pressed: $header-btn-font-family,
  $font-family-disabled:  $header-btn-font-family,

  $icon-size: $button-small-icon-size,
  $background-gradient-direction-over: bottom
);
