/* Charts */

.yaxis {
  width: 40px;
  height: 250px;
  float: left;
}

.graph-scroll {
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  clear: both;
  width: 700px;
  height: 208px;
}

.chart-container {
  height: 220px;
  overflow-x: auto;
  width: auto;
  overflow-y: hidden;
  float: left;
}

.legend {
  width: 140px;
  height: 250px;
  float: left;
}

.chart-title {
  text-align: left;
  float: left;
}

.chart-date {
  float: left;
  padding-left: 30px;
}

.chart-container {
  a { 
    tspan {
      text-decoration: underline;
    }
  }
}

#charts-xsplit, #charts-xcollapsed {
  background-color: $zynx-active-element-background-color;
  cursor: pointer;
}

#charts-xsplit .#{$prefix}layout-mini, #charts-xcollapsed .#{$prefix}layout-mini {
  opacity: 1;
  filter: alpha(opacity = 100);
}

#views-reports-page {
  .#{$prefix}splitter {
    height: 7px !important;
    background-color: $zynx-active-element-background-color;
    cursor: pointer;
  }
  .#{$prefix}layout-split-top,
  .#{$prefix}layout-split-bottom {
    height: 7px;
    width: 49px;
    left: 47%;
  }
}