html.content-explorer {

   .clearfix:after {
     clear: both;
     height: 0px;
     visibility: hidden;
     content: ".";
     line-height: 0;
   }

   body.x-border-layout-ct{
      background-color: $contentexplorer-application-background;
   }

   #create-drawer, #duplicate-drawer {
      .form-wrapper {
         padding: 5px;
         margin: 10px;
         border-radius: 5px;
         border: 1px solid #A1A1A1;
      }

      .x-form-file-wrap {
         overflow: hidden;

         .x-form-file-btn {
            position: static;
            background-color: transparent;

            .x-btn-inner {
                color: $contentexplorer-link-color;
            }
         }

         .x-form-file-input {
           top: 0;
           font-size: 100px;
         }
      }
      .#{$prefix}form-file-wrap:hover {
            .x-btn-inner {
                text-decoration: underline;
            }
      }

      .form-header {
        font-size: 16px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
      }

      .form-header-close {
        background-color: transparent;

        .close-icon {
          color: black;
          background: $contentexplorer-sprite-button-close-circle;
          height: 16px;
          width: 16px;
          display: inline-block;
        }
      }

      .duplicate-content-source {
        background-color: #F1F1F1;
        font-weight: normal;
        border-radius: 3px;
        padding: 5px;
        margin-bottom: 15px;
      }

      .create-content-cancel,
      .create-content-submit {
          border-radius: 3px;
      }

      .create-content-cancel {
         background: $contentexplorer-sprite-button-default;

         .x-btn-inner {
           color: $contentexplorer-dialog-btn-textcolor;
         }
      }
      .create-content-cancel.x-btn-over {
         background: $contentexplorer-sprite-button-default-hover;
      }
      .create-content-cancel.x-btn-pressed {
         background: $contentexplorer-sprite-button-default;
      }

      .create-content-submit {
         background: $contentexplorer-sprite-button-focus;
      }
      .create-content-submit.x-btn-pressed {
         background: $contentexplorer-sprite-button-click;
      }

      .create-content-submit.x-btn-disabled {
         alpha: 50%;
      }

      .instruction .step {
         background: $contentexplorer-instruction-step-bg;
         color: white;
         display: inline-block;
         width: 15px;
         text-align: center;
         font-weight: bold;
         margin-right: 2px;
         height: 15px;
      }

      .x-panel-collapsed-placeholder {
         height: 0;
         border: none;
         padding-bottom: 1px;
      }
   }

   span#ce-edit-released-content-dialog ul {
      margin: 15px 0 15px 15px;

      li {
         font-weight: bold;
         list-style: disc;
      }
   }

   .delete-content-msg {
    span {
        float: left;
    }

    ul {
      margin: 10px 0px 10px 15px;

      li {
         font-weight: bold;
         list-style: disc;
      }
    }
   }


   .delete-folder-msg {
     span { 
       float: left;
     }

     ul {
       margin: 10px 0 10px 15px;

       li {
         font-weight: bold;
         list-style: disc;
       }
     }
   }

   #treeview {

     .x-resizable-handle-east {
       background-color: transparent;
       background-image: none !important;
     }

     #treeview-body {
       background-color: $contentexplorer-tree-background-color;

       tr.x-grid-row div.x-grid-cell-inner {
         height: $contentexplorer-tree-elbow-height;
         line-height: $contentexplorer-tree-elbow-height;

         span.folder-delete {
           background: $contentexplorer-sprite-trashcan;
           background-repeat: no-repeat;
           height: 18px;
           width: 18px;
           position: absolute;
           visibility: hidden;
           right: 0px;
           margin-top: 5px;
         }
         white-space: normal;
       }

       tr.x-grid-row:hover div.x-grid-cell-inner {
         span.folder-delete {
           visibility: visible;
         }
       }
     }

     .treeButton {
       background-color: $zynx-active-element-background-color;
       border-radius: 2px 2px;
       border: 1px solid $button-tree-border-color;
       color: white;
       font-weight: bold;
       height: 20px;
       text-align: center;
     }

     .treeButton:hover {
       background-color: $button-tree-hover-color;
     }

     .x-grid-cell-inner {
       text-overflow: clip;
       padding-right: 40px;
     }

     .#{$prefix}grid-row-selected .#{$prefix}grid-cell,
     .#{$prefix}grid-row-selected .#{$prefix}grid-rowwrap-div {
       border-style: solid;
       border-color: #8c8c8c;
       @include background-gradient(#606060, bevel);
       color: #fff;
     }

     &.#{$prefix}tree-panel .#{$prefix}grid-row .#{$prefix}grid-cell-inner {
       img {
         margin-top: 5px;
       }
     }

     .#{$prefix}grid-row-over .#{$prefix}grid-cell,
     .#{$prefix}grid-row-over .#{$prefix}grid-rowwrap-div {
       border-color: #8c8c8c;
       @include background-gradient(#3e82d8, bevel);
       color: #fff;
     }

     /* drag styles - non functional */
     /*.x-tree-drag-over .x-grid-cell,*/
     /*.x-tree-drag-over .x-grid-rowwrap-div {*/
       /*background: #fff !important;*/
     /*}*/

     /*.drag-highlight-wrapper {*/
       /*visibility: hidden;*/
       /*position: absolute !important;*/
       /*background-color: #0265ca;*/
       /*border: 2px solid #0265ca;*/
       /*opacity: 0.3;*/
       /*width: 150px;*/
       /*height: 25px;*/
       /*border-radius: 10px;*/
       /*padding: 3px 10px;*/
     /*}*/
     /*.x-tree-drag-over .drag-highlight-wrapper {*/
       /*visibility: visible;*/
     /*}*/
     /*.folder-name {*/
       /*opacity: 1.0 !important;*/
     /*}*/

     &.#{$prefix}tree-arrows {
       .#{$prefix}tree-elbow-plus,
       .#{$prefix}tree-elbow-minus,
       .#{$prefix}tree-elbow-end-plus,
       .#{$prefix}tree-elbow-end-minus {
         background-image: theme-background-image($theme-name, 'tree/arrows-ce.gif');
       }
     }

     .#{$prefix}tree-icon {
       background-image: none !important;
       width: 0px;
     }

     .x-grid-row .x-grid-cell {
       background-color: $contentexplorer-tree-background-color;
       border-color: #c2c2c2;
       border-top-color: #c2c2c2;
       border-style: solid;
       border-width: 0 0 1px 0 !important;
       padding-left: 30px;
       font-size: 12px;
     }

     .x-tree-depth-1 .x-grid-cell {
       font-size: 16px;
       font-weight: bold;
     }

     .x-tree-depth-2 .x-grid-cell {
       font-size: 14px;
       font-weight: bold;
     }

     .x-grid-tree-sub-node-expanded .x-grid-cell {
       background-color: $contentexplorer-tree-expanded-background-color;
     }

     .x-my-content,
     .x-my-content {
       background-color: $contentexplorer-tree-expanded-my-content-background-color !important;
     }

     .x-my-content.x-deleted-content,
     .x-my-content.x-deleted-content {
       background-color: $contentexplorer-tree-expanded-deleted-content-background-color !important;
       color: $contentexplorer-tree-expanded-deleted-content-foreground-color !important;
     }

     .x-grid-body {
       border: 0px !important;
       border-top-width: 0px !important;
     }

     .x-grid-header-ct {
       border-bottom-width: 0px !important;
     }
   }

   .grid-header {
     .x-panel-body {
       background-color: $contentexplorer-grid-folder-banner-bg;
     }

     .content-grid-header-paging {
       text-align: right;
     }
   }

   .ce-paging {
     .x-btn {
       @include border-radius(2px);
     }
     .ce-current-page {
       @include single-box-shadow(#000, 0, 0, 2px, 0);
     }
     .x-btn-inner {
       font-size: 14px;
     }
   }

   #contentgrid {
      .x-grid-header-ct,
      .x-column-header { 
         background-color: $contentexplorer-grid-header-background;
         background-image: none;
      
        
        .checked-out-header,
	.content-issue-header,
	.published-header {
         width: 18px;
         height: 18px;
        }
	.checked-out-header {
         background: $contentexplorer-sprite-checked-out-header;
	}
        .content-issue-header {
         background: $contentexplorer-sprite-content-issue-header;
        }
        .published-header {
         background: $contentexplorer-sprite-published-header;
        }
      }

      .x-column-header-over,
      .x-column-header-sort-ASC,
     .x-column-header-sort-DESC { 
         background-color: $contentexplorer-grid-header-hover-background;
         background-image: none;
      }

      .x-column-header-trigger { 
         background-color: $contentexplorer-grid-header-hover-background;
         background-image: theme-background-image($theme-name, $contentexplorer-grid-header-sort-image)
      }

     #contentgrid-body {
       tr.x-grid-row {
         .x-grid-cell.x-grid-cell-special {
            background-color: transparent;
            background-image: none;
         }
       }

       tr.x-grid-row div.x-grid-cell-inner {
         font-size: 12px;

         div.content-checked-out,
	 div.content-issue,
	 div.content-published {
           height: 18px;
           width: 18px;
         }
	 div.content-checked-out {
	   background: $contentexplorer-sprite-lock;
	 }
         div.content-issue {
            background: $contentexplorer-sprite-content-issue-icon;
         }

          div.content-published {
              background: $contentexplorer-sprite-content-published-icon;
         }


         div.content-title-wrapper {
           padding-bottom: 15px;

           span.content-name {
             font-size: 16px;
             font-weight: normal;
             color: $contentexplorer-grid-content-name-color; 
             cursor: pointer;
           }
           span.content-name:hover {
             text-decoration: underline;
           }
           span.content-version {
             font-size: 12px;
             color: $contentexplorer-grid-content-version-color;
           }

         
           div.contentexplorer-content-item-links {
             visibility: hidden;
             position: absolute;

             span.separator {
               margin: 0px 5px;
               color: grey;
             }

             a {
               text-decoration: none;
             }

             a[active="false"] {
               color: grey;
               cursor: default;
             }
             a[active="true"]:hover {
               text-decoration: underline;
             }
           }
         }
       }
       tr.x-grid-row:hover
       div.x-grid-cell-inner
       div.content-title-wrapper
       div.contentexplorer-content-item-links {
           visibility: visible;
       }
       .x-grid-row-alt .x-grid-cell,
       .x-grid-row-alt .x-grid-rowwrap-div {
         background: none;
       }
       tr.x-grid-row-selected .x-grid-cell,
       tr.x-grid-row-selected .x-grid-cell.x-grid-cell-special,
       tr.x-grid-row-selected .x-grid-rowwrap-div {
         background: $contentexplorer-grid-selected-background !important;
         border-color: $contentexplorer-grid-selected-background;
       }
       tr.x-grid-row-over .x-grid-cell,
       tr.x-grid-row-over .x-grid-cell.x-grid-cell-special,
       tr.x-grid-row-over .x-grid-rowwrap-div {
         background-color: $contentexplorer-grid-hover-background;
       }
     }
}
  .x-window-header {
    border-width: 0px !important;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
}

.ce-left-paddle {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.ce-right-paddle {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left-width: 0;
  margin-left: -1px;
}