html.contentexplorer { 
  .x-ie7, .x-ie8 {

    .ce-left-paddle {
      button {
        padding-right: 7px !important;

      }
      .x-frame-tr, .x-frame-br, .x-frame-mr {
        visibility: hidden;
      }
    }
    .ce-right-paddle {
      .x-frame-tl, .x-frame-bl {
        visibility: hidden;
      }
      margin-left: -8px !important;
    }

    .header-buttons .x-btn-header-btn-small .x-btn-mc {
      padding: 2px 4px !important;
    }
  }

  .x-ie7 {
    .ce-right-paddle {
      margin-left: -7px !important;
    }

    #treeview {
      #treeview-body {
        tr.x-grid-row div.x-grid-cell-inner {
          position: relative;

          span.folder-delete {
            padding-right: 20px;
          }
        }
      }
    }
  }

  .x-ie {
    #treeview {
      .#{$prefix}grid-row-over .#{$prefix}grid-cell,
      .#{$prefix}grid-row-over .#{$prefix}grid-rowwrap-div {
        background-image: theme-background-image($theme-name, 'tree/tree-row-over.png') !important;
      }

      .#{$prefix}grid-row-selected .#{$prefix}grid-cell,
      .#{$prefix}grid-row-selected .#{$prefix}grid-rowwrap-div {
        background-image: theme-background-image($theme-name, 'tree/tree-row-selected.png') !important;
      }
    }

    .#{$prefix}fieldset-body {
      padding-top: 0;
    }

  }

 .x-nlg {
    .x-item-disabled {
      @include opacity(1);
    }

  }


//.x-btn-disabled {
//  @include opacity(0.6);
//}
}
