@mixin linear-gradient-background($start-color, $end-color){
    background-image: linear-gradient(center top, $start-color, $end-color);
    background-image: -o-linear-gradient(center top, $start-color, $end-color);
    background-image: -moz-linear-gradient(center top, $start-color, $end-color);
    background-image: -webkit-linear-gradient(center top, $start-color, $end-color);
    background-image: -ms-linear-gradient(center top, $start-color, $end-color);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, EndColorStr='#{$end-color}', StartColorStr='#{$start-color}');
}

@mixin linear-gradient-background-important($start-color, $end-color){
	background-image: linear-gradient(center top, $start-color, $end-color)!important;
    background-image: -o-linear-gradient(center top, $start-color, $end-color)!important;
    background-image: -moz-linear-gradient(center top, $start-color, $end-color)!important;
    background-image: -webkit-linear-gradient(center top, $start-color, $end-color)!important;
    background-image: -ms-linear-gradient(center top, $start-color, $end-color)!important;
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, EndColorStr='#{$end-color}', StartColorStr='#{$start-color}')!important;
}

@mixin border-radius($pixel) {
    -moz-border-radius: $pixel;
    -webkit-border-radius: $pixel;
}

@mixin border-top-radius($side, $pixel) {
    -moz-border-#{$side}-radius: $pixel;
    -webkit-border-#{$side}-radius: $pixel;
}

body.fr-body {
	/* HACK boxselect. Resolve the selected term exceed the box of input field in IE7 bug */
	.x-boxselect ul.x-boxselect-list {
		position: relative;
	}

	.highlight {
		color: red;
	}

	.warning {
		color: red;
	}

	a {
		&:link, &:visited {
			text-decoration: none;
		}
		&:hover, &:active {
			text-decoration: underline;
		}
	}

	h1 {
		font-size: 24px;
		font-weight: normal;
	}

	em {
		display: block;
		font-size: 14px;
	}

	button {
		height: 24px;
		border: 0;
		background: $sprite no-repeat;
		color: #FFFFFF;
		font-weight: bold;
		&:hover {
			cursor: pointer;
		}
	}

	.fr-button-background {
		@include linear-gradient-background(#004FC3, #236FD7);
		background-color: $fr-button-background-default;
		@include border-radius(4px);
		border-radius: 4px;
		&:hover {
			@include linear-gradient-background(#236FD7, #004FC3);
			background-color: $fr-button-background-default;
			@include border-radius(4px);
			border-radius: 4px;
		}
	}

	.fr-cancel-button-background {
		@include linear-gradient-background(#ADADAD, #BFBFBF);
		background-color: $fr-button-background-cancel-default;
		@include border-radius(4px);
		border-radius: 4px;
		&:hover {
			@include linear-gradient-background(#BFBFBF, #ADADAD);
			background-color: $fr-button-background-cancel-default;
			@include border-radius(4px);
			border-radius: 4px;
		}
	}

	/* super style for disabled button, should be extended */
	.fr-button-disabled {
		@include opacity(0.3);
		&:hover {
			@include opacity(0.3);
		}
		cursor: auto;
	}

	button {
		&:disabled {
			cursor: auto;
		}
	}

	.header-buttons button {
		height: 16px;
		background: none;
	}

	.header-beta {
		float: left;
		background: $sprite no-repeat right bottom;
	}

	.search-bg{
		background: #E2E2D8;
	}

	.background-icon {
		width: 20px;
		height: 20px;
		background: $sprite no-repeat;
	}

	.force-word-wrap{
		white-space: -moz-pre-wrap;  /* Firefox */
		white-space: -pre-wrap;      /* Older Opera 4 - 6 */
		white-space: -o-pre-wrap;    /* Opera 7+ */
		word-wrap: break-word;       /* IE 5.5+ and Safari */
		white-space: normal;       /* override white-space for ie7 */
	}

	.search-alert {
		border: 3px solid #F01928;
		background: #FFFFFF;
		@include border-radius(4px);
		border-radius: 4px;
		box-sizing: border-box;
		.icon {
			position: absolute;
			background: $sprite no-repeat -1148px -214px;
		}
		h1 {
			color: #E2242E;
			font-size: 20px;
			padding-top: 10px;
		}
		em {
			color: #666666;
		}
		.search-alert-messages {
			td {
				@extend .force-word-wrap
			}
			a {
				margin-left: 20px;
				color: #3386D6;
				font-size: 14px;
				&#_icon {
					margin-left: 2px;
					color: #3386D6;
					font-size: 14px;
				}
				&:hover {
					text-decoration: underline;
				}
			}
			.icon {
				display: inline-block;
				width: 16px;
				height: 16px;
				background-position: -216px -585px;
			}
			.search-alert-messages-row {
				border: 0;
			}
		}
	}

	.search-form {
		margin-left: -50px;
		padding: 25px 30px 25px 30px;
		.validation-message {
			font-family: Georgia;
			font-size: 14px;
		}
		.search-form-input ul {
			border: 1px inset #FFFFFF;
		}
		.search-form-button  {
			@extend .fr-button-background;
			button {
				background-position: -50px 0;
			}
		}

		.x-item-disabled {
			@extend .fr-button-disabled;			
		}

	}

	.result-message {
		margin-left: 31px;
	}

	.result-buttons-message {
		margin-left: 31px;
	}

	.result-buttons {
		.result-button-remove, .result-button-replace, .result-button-export {
			@extend .fr-button-background;
			margin: 9px 31px;
		}

		.x-item-disabled {
			@extend .fr-button-disabled;			
		}

		.result-button-remove button{
			background-position: -713px 0;
		}

		.result-button-replace button{
			background-position: -527px 0;
		}

		.result-button-export button {
			background-position: -925px 0;
		}
	}

	.unknown-error {
		color: white;
	}

	/*add '!important' to override zynx-theme.css to change grid header border color*/
	#predefinedListGrid {
		.x-grid-header-ct {
			border-color: #E2E2D8 !important;
		}
		.x-scroller-vertical {
			border-style: none;
		}
		.x-grid-cell-inner {
		   white-space: normal;
	   }
	}

	/*add '!important' to override zynx-theme.css to change grid border color*/
	#predefinedListGrid-body {
		border-color: #E2E2D8 !important;
	}

	#resultPanelView {
		padding: 0px;
	}

	#searchResultMessage {
		font-size: 16px;
		padding-left: 30px;
		background-color: #E2E2D8;

		.unknown-error {
			color: red;

			a.fr-unknown-error {
				color: red;
				text-decoration: underline;
			}
		}
	}

	#remindersGrid-body {
		border-color: #E2E2D8 !important;
	}

	#resultTabPane {
		margin: 0;
		
		/*add '!important' to override zynx-theme.css to change grid border color*/
		#searchResultWithoutDetailGrid-body, #searchResultWithDetailGrid-body {
			border-color: #E2E2D8 !important;
			/*add disabled checkbox style for grids*/
			tr.record-disabled td .x-grid-row-checker{
				background-image: theme-background-image($theme-name, 'grid/checked-disabled.gif');
			}

			/* don't highlight the checkbox column when it's disabled */
			tr.record-disabled td, tr.record-disabled .x-grid-cell-special {
				background-color: #FFFFFF !important;
			}
			
			td div{
				@extend .force-word-wrap
			}
		}

		.x-tab-bar {
			background-color: #E2E2D8;
			padding: 0 30px;
			/*add '!important' to override zynx-theme.css for tab bar*/
			border-bottom: 4px solid rgb(0,56,120) !important;

			.x-tab {
				display: inline-block;
				margin-right: 4px;
				padding: 0px 16px;
				background: #CCCCCC;
				@include linear-gradient-background(#BCBCBC,#ACACAC);
				color: #0066CC;
				font-weight: bold;
				cursor: pointer;
				@include border-top-radius(left, 4px);
				@include border-top-radius(right, 4px);
				border-top-left-radius: 4px;
				border-top-right-radius: 4px;
				button {
					background: none;
					color: black;
					span.x-tab-inner {
						/* make tab text vertical alignment display correctly*/
						display: inline;
					}
				}
			}

			/*add gradient effect for IE by using filter*/
			.x-tab-active {
				background: #003878;
				@include linear-gradient-background(#286ECC,#003878);
				button {
					color: white;
				}
			}
		}

		/*add '!important' to override zynx-theme.css to remove grid header border*/
		.x-grid-header-ct {
			border: 0 !important;
		}

		/*add '!important' to override zynx-theme.css for grid header hover style*/
		.x-column-header-over {
			background-color: #505050 !important;
			@include linear-gradient-background-important(#4C4C4C, #333333);
		}

		/*add '!important' to override zynx-theme.css for grid sorting*/
		.x-column-header-sort-ASC, .x-column-header-sort-DESC {
			background-color: #505050 !important;
			/*add '!important' to override zynx-theme.css for grid sorting*/
			.x-column-header-text {
				background-image: none !important;
				padding-right: 0px;
			}
			/*highlight column header when selected*/
			.x-column-header-inner {
				@include linear-gradient-background-important(#4C4C4C, #333333);
			}
		}

		.x-column-header-checkbox .x-column-header-text {
			margin-left: -4px;
		}

		.x-grid-cell-special {
			 background: white !important;
			 border-right: 0;
			 .x-grid-cell-inner {
					 padding: 16px 3px;
			 }
		 }

		 /*add '!important' to override zynx-theme.css for ie hack grid row hover image*/
		.x-grid-row-over .x-grid-cell {
			border-right: 0;
			background-image: none !important;
		}

		.x-grid-row-over .x-grid-cell-special {
			background-color: #EFEFEF !important;
		}
	
		.x-grid-row .x-grid-cell {
			border-right: none;
		}
	
		/*override header trigger by using new icon*/
		.x-column-header-trigger {
			background: $sprite no-repeat -351px -321px;
		}
	
		.x-column-header-inner {
			background: #999999;
			@include linear-gradient-background(#858585, #6D6D6D);
			padding: 8px;
			color: #FFFFFF;
			font-weight: bold;       
		}

		.x-grid-cell-inner {
		   white-space: normal;
		}

		.result-list-row {
			padding: 10px 4px;
			font-size: 12px;
			a {
				font-size: 16px;
			}
			.catalog-term, .reminder-text {
				font-weight: bold;
				display: block;
				font-size: 16px;
				margin-bottom: 4px;
			}

			a.editContentItem {
				margin-top: 6px;
				font-size: 12px;
				display: block;
			}
		}

		.x-grid-row-selected {
			/*add '!important' to override zynx-theme.css for grid selection style*/
			.x-grid-cell-special {
				background-color: #FFFFCC !important;
				background-image: none;
				border-right: 0;
			}
			/*add '!important' to override zynx-theme.css for grid selection style*/
			.x-grid-cell{
				background-color: #FFFFCC !important;
				background-image: none !important;
			}
		}
	}
	
	.x-column-header-inner {
		.icon {
			@extend .background-icon;
			height: 24px;

			&.performance {
				background-position: -210px -528px;
			}

			&.catalog {
				background-position: -212px -334px;
			}

			&.evidence {
				background-position: -214px -407px;
			}

			&.kcp {
				background-position: -210px -456px;
			}
		}
	}

	.icon {
		@extend .background-icon;

		&.catalog_zynx {
			background-position: -212px -286px;
		}

		&.catalog_custom {
			background-position: -212px -310px;
		}

		&.evidence_zynx {
			background-position: -215px -358px;
		}

		&.evidence_custom {
			background-position: -215px -383px;
		}
		
		&.evidence_zynx_retried {
			background-position: -215px -672px;
		}

		&.kcp {
			background-position: -212px -431px;
		}

		&.performance {
			background-position: -210px -502px;
		}

		&.performance-alert {
			background-position: -210px -482px;
		}
	}

	.icon_inline {
		.icon {
			width:20px;
		}
	}
	
	/*override disable style when replace term suggestion combox is disabled*/
	#swapTermWindow div.x-item-disabled[id="replaceTermSuggestionView"] {
		opacity: 1;
		.x-form-text, textarea.x-form-field {
			background: #DEE7F8; 
		} 
	}

	/*add disabled checkbox style for grids*/
	#remindersGrid-body tr.record-disabled td div div{
		background-image: theme-background-image($theme-name, 'grid/checked-disabled.gif');
	
	}

	/* don't highlight the checkbox column when it's disabled */
	#remindersGrid-body {
		tr.record-disabled td, tr.record-disabled .x-grid-cell-special {
			background-color: #FFFFFF !important;
		}
	}

	#remindersGrid-body td div{
		@extend .force-word-wrap
	}

	.catalog-term-suggestion-for-replace-list{
		.icon {
			@extend .background-icon;

			&.catalog_zynx {
				background-position: -212px -288px;
			}
			&.catalog_custom {
				background-position: -212px -313px;
			}
		}
		.catalogTerm {
			.zynxIcon {
				float: left;
			}		
		}
		.zynxIconAfter {
			clear: both;
		}
	}

	/* fix the top border of checkbox icon in result grid was hidden issue */
	.#{$prefix}grid-row-checker {
		height: 15px;
		background-position-y: -1px;
	}

	#itemsConfirmationGrid {	
		/*add '!important' to override zynx-theme.css to remove grid header border*/
		.x-grid-header-ct {
			border-color: #858585 !important;
			@include linear-gradient-background(#858585, #6D6D6D);
		}
	
		.x-grid-body {
			border-color: #858585 !important;
		}

		 /*add '!important' to override zynx-theme.css for grid header hover style*/
		.x-column-header-over {
			background-color: #505050 !important;
			@include linear-gradient-background-important(#4C4C4C, #333333);
		}
	
		.x-column-header-inner {
			background: #999999;
			@include linear-gradient-background(#858585, #6D6D6D);
			padding: 8px;
			color: #FFFFFF;
			font-weight: bold;
		}
	
		.x-column-header-trigger {
			background: $sprite no-repeat -351px -321px;
		}
	
		.result-list-row {
			padding: 2px 4px;
			font-size: 12px;
		
			.catalog-term {
				font-weight: bold;
				display: block;
				font-size: 12px;
				margin-bottom: 4px;
			}
		}
	
		.x-grid-row-over .x-grid-cell-special {
			background-color: #EFEFEF !important;
		}

		/*add '!important' to override zynx-theme.css for grid sorting*/
		.x-column-header-sort-ASC, .x-column-header-sort-DESC {
			background-color: #505050 !important;
			/*add '!important' to override zynx-theme.css for grid sorting*/
			.x-column-header-text {
			background-image: none !important;
			padding-right: 0px;
			}
			/*highlight column header when selected*/
			.x-column-header-inner {
				@include linear-gradient-background-important(#4C4C4C, #333333);
			}
		}
	
		.x-grid-row td div {
			@extend .force-word-wrap;
		}

		.x-grid-cell {
			border-right: 0;
		}

		.x-scroller-vertical {
			border-style: none;
		}
	}

	#swapTermWindow {
		hr {
    		border-color: #464646;
			border-top-width: 0px;
			border-bottom-width: 1px;
			border-left-width: 0px;
			border-right-width: 0px;
			height: 1px;
		}

		.x-window-header-default-top, .x-window-header-default-top-mc {
			background-color: white;
		}

		.x-window-header-text-default {
			color: #464646;
			font-size: 14pt;
			font-family: Arial;
			font-weight: bold;
			margin: 10px 0px 0px 15px;
		}

		.x-tool {
			.x-tool-close {
				background: $sprite no-repeat -214px -616px;
			}

			img {
				height: 20px;
				width: 20px;
			}
		}

		.x-panel-body {
			color: #464646;
			font-size: 14px;
			font-family: Georgia;
		}

		.clear-term-button {
			@extend .fr-button-background;
			button {
				background: none;
			}
		}

		.replace-buttons {
			button {
				@include border-radius(4px);
				border-radius: 4px;
			}
	
			.next-button {
				@extend .fr-button-background;
				margin: 10px 5px 0px 0px;
				button {
					background: none;
				}
			}

			.x-item-disabled {
				@extend .fr-button-disabled;			
			}
		
			.cancel-button{
				@extend .fr-cancel-button-background;
				margin: 10px 20px 0px 0px;
				button {
					background: none;
					color: black;
				}
			}
		}

		#replaceTermSuggestionView .catalog-default-icon{
			@extend .background-icon;
			background-position: -213px -335px;
		}
	}

	#replaceTermConfirmWindow, #removalItemsConfirmWindow {
		hr {
    		border-color: #464646;
			border-top-width: 0px;
			border-bottom-width: 1px;
			border-left-width: 0px;
			border-right-width: 0px;
			height: 1px;
		}

		.x-window-header-default-top, .x-window-header-default-top-mc{
			background-color: white;
		}

		.x-window-header-text-default {
			color: #464646;
			font-size: 14pt;
			font-family: Arial;
			font-weight: bold;
			margin: 5px 0px 0px 5px;
		}

		.x-tool {
			.x-tool-close {
				background: $sprite no-repeat -214px -616px;
			}

			img {
				height: 20px;
				width: 20px;
			}
		}

		.x-panel-body {
			color: #464646;
			font-size: 14px;
			font-family: Georgia;
		}

		button {
			@include border-radius(4px);
			border-radius: 4px;
		}

		.confirm-button {
			margin: 10px 5px 0px 0px;
			@extend .fr-button-background;
			button{
				background: none;
			}
		}

		.cancel-button {
			margin: 10px 0px 0px 0px;
			@extend .fr-cancel-button-background;
			button {
				background: none;
				color: black;
			}
		}
	}

	#replaceTermConfirmWindow {
		.replacement-instruction {
			color: #464646;
			font-size: 14px;
			font-family: Georgia;
			padding: 5px 10px 0 10px;            
		}

		.new-term-label {
			background-color: #FFFFCC;
			color: #464646;
			font-style: italic;
			font-size: 14px;
			font-family: Georgia;
			height: 25;
			padding: 5px 0px 0px 10px;
		}

		.export-replacement-plan-button {
			@extend .fr-button-background;
			button {
				background-position: -925px 0;
			}
		}
	}

	#removalItemsConfirmWindow {
		.removal-instruction {
			color: #464646;
			font-size: 14px;
			font-family: Georgia;
			padding: 5px 10px 0 10px;            
		}

		.export-removal-plan-button {
			@extend .fr-button-background;
			button {
				background-position: -925px 0;
			}
		}
	}

	#removalItemsWarningWindow, #replacedItemsWarningWindow {
		hr {
    			border-color: #464646;
				border-top-width: 0px;
				border-bottom-width: 1px;
				border-left-width: 0px;
				border-right-width: 0px;
				height: 1px;
			}

		
		.warning-content {
			margin: 5px 0 0 0;
		}

		.body {
			width: 650px;
		}
		.icon {
				&.warning {
					@extend .background-icon;
					width: 46px;
					height: 42px;
					margin: 0 0 0 5px;
					background-position: -1147px -463px;
				}
		}
		.x-window-header-default-top, .x-window-header-default-top-mc{
			background-color: white;
		}

		.x-window-header-text-default {
			color: #464646;
			font-size: 14pt;
			font-family: Arial;
			font-weight: bold;
			margin: 5px 0px 0px 5px;
		}
		.x-tool {
			.x-tool-close {
				background: $sprite no-repeat -214px -616px;
			}

			img {
				height: 20px;
				width: 20px;
			}
		}

		.x-panel-body {
			color: #464646;
			font-size: 14px;
			font-family: Georgia;
		}
	}
	#removalItemsWarningWindow {    
		.removal-buttons {
			margin-top: 21px;
		
			button {
				@include border-radius(4px);
				border-radius: 4px;
			}
	
			.start-removal-button {
				margin: 0px 5px;
				@extend .fr-button-background;
				button {
					background: none;
					width: 180px;
				}
			}
		
			.x-item-disabled {
				@extend .fr-button-disabled;			
			}

			.cancel-button {
				@extend .fr-cancel-button-background;			
				button {
					background: none;
					width: 100px;
					color: black;
				}
			}
		}

		.warning-removal-message {
			color: #464646;
			font-family: Georgia;
			font-size: 18px;
			font-style: italic;
			padding: 5px 10px 0 10px;            
		}
	
		.warning-removal-message h2{
			font-size: 18px;
			margin: 6px 0 0 0;
		}
	
		.warning-removal-note {
			font-size: 16px;
			font-family: Georgia;
			font-style: italic;
			padding: 5px 10px 0 10px;   
			margin-top: 40px;         
		}

		.warning-removal-note strong{
			font-style: italic;
			font-weight: bolder;
		}

		.warning-removal-note ul {
			margin-left: 15px;
		}

		.warning-removal-message ul li {
			list-style: none;
			margin-top: 10px;
		}
		.warning-removal-note ul li {
			list-style: disc;
			margin-top: 5px;
		}

		.agreement {
			background-color: #F3E6CD;
			margin-top: 30px;
			padding: 5px 10px;
		}
	
		.agreement label {
			margin-left: 10px;
			font-size: 16px;
			font-family: Georgia;
		}
	}

	#replacedItemsWarningWindow {
		.replacement-buttons {
			margin-top: 21px;
		
			button {
				@include border-radius(4px);
				border-radius: 4px;
			}
	
			.start-replacement-button {
				margin: 0px 5px;
				@extend .fr-button-background;
				button {
					background: none;
					width: 180px;
				}
			}

			.x-item-disabled {
				@extend .fr-button-disabled;			
			}
						
			.cancel-button {
				@extend .fr-cancel-button-background;			
				button {
					background: none;
					width: 100px;
					color: black;
				}
			}
		}

		.warning-replacement-message {
			color: #464646;
			font-family: Georgia;
			font-size: 18px;
			font-style: italic;
			padding: 5px 10px 0 10px;            
		}
	
		.warning-replacement-message h2{
			font-size: 18px;
			margin: 6px 0 0 0;
		}
	
		.warning-replacement-note {
			font-size: 16px;
			font-family: Georgia;
			font-style: italic;
			padding: 5px 10px 0 10px;   
			margin-top: 40px;         
		}

		.warning-replacement-note strong{
			font-style: italic;
			font-weight: bolder;
		}

		.warning-replacement-note ul {
			margin-left: 15px;
		}

		.warning-replacement-message ul li {
			list-style: none;
			margin-top: 10px;
		}
		.warning-replacement-note ul li {
			list-style: disc;
			margin-top: 5px;
		}

		.agreement {
			background-color: #F3E6CD;
			margin-top: 30px;
			padding: 5px 10px;
		}
	
		.agreement label {
			margin-left: 10px;
			font-size: 16px;
			font-family: Georgia;
		}

		.new-term-label {
			background-color: #FFFFCC;
			color: #464646;
			font-style: italic;
			font-size: 14px;
			font-family: Georgia;
			height: 25;
			padding: 5px 0px 0px 10px;		
		}
	}

	.x-boxselect {
		ul.x-boxselect-list {
			border: 1px solid #7EADD9;
		}
	}

	.fr-edit-content-messagebox {
		background-color: white;
	
		strong {
			font-weight: bold;
		}

		.x-tool {
			.x-tool-close {
				background: $sprite no-repeat -216px -617px;
			}
		}

		.x-toolbar-footer .x-box-inner {
			text-align: right;

			.x-btn {
				left: 0 !important;
			}
			.x-box-item {
				position: relative !important;
			}
			.x-btn-cancel-btn-small {
				margin: 0 10px !important;
			}
			button {
				background: none;
				height: 20px;
			}
		}

		.x-window-header .x-window-header-text {
			font-weight: bold;
		}
	}

	.search-view {
		overflow-x: hidden !important;
	}

	.content-name-version {
		font-size: 12px;
		color: gray;
	}

	#messageBanner {
		a.fr-unknown-error {
			color: white;
			text-decoration: underline;
		}
	}
}

body.fr-body.x-ie8 #messageBanner {
	.success, .error, .info {
		DIV.close {
			float:right;
			position: static;
			margin-left:5px;
		}
		.symbol{
			float: left;
			position: static;
			margin-right:5px;
		}
	}
}