/* Sass compiler error in C:\Code\cts\IIS\Code\Authorspace\v2.0\Scripts\ext-4.0\resources\themes\stylesheets\ext4\zynx\widgets\_findreplace.scss.  Message:

Error on line 65
Sass::SyntaxError
Undefined variable: "$sprite".

Sass compiler backtrace:

\sass\lib/sass/../sass/script/variable.rb:45:in `_perform'
\sass\lib/sass/../sass/script/node.rb:40:in `perform'
\sass\lib/sass/../sass/script/list.rb:62:in `_perform'
\sass\lib/sass/../sass/script/list.rb:61:in `map'
\sass\lib/sass/../sass/script/list.rb:61:in `_perform'
\sass\lib/sass/../sass/script/node.rb:40:in `perform'
\sass\lib/sass/../sass/tree/visitors/perform.rb:215:in `visit_prop'
\sass\lib/sass/../sass/tree/visitors/base.rb:34:in `send'
\sass\lib/sass/../sass/tree/visitors/base.rb:34:in `visit'
\sass\lib/sass/../sass/tree/visitors/perform.rb:18:in `visit'
\sass\lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
\sass\lib/sass/../sass/tree/visitors/base.rb:52:in `map'
\sass\lib/sass/../sass/tree/visitors/base.rb:52:in `visit_children'
\sass\lib/sass/../sass/tree/visitors/perform.rb:27:in `visit_children'
\sass\lib/sass/../sass/tree/visitors/perform.rb:39:in `with_environment'
\sass\lib/sass/../sass/tree/visitors/perform.rb:26:in `visit_children'
\sass\lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
\sass\lib/sass/../sass/tree/visitors/perform.rb:230:in `visit_rule'
\sass\lib/sass/../sass/tree/visitors/base.rb:34:in `send'
\sass\lib/sass/../sass/tree/visitors/base.rb:34:in `visit'
\sass\lib/sass/../sass/tree/visitors/perform.rb:18:in `visit'
\sass\lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
\sass\lib/sass/../sass/tree/visitors/base.rb:52:in `map'
\sass\lib/sass/../sass/tree/visitors/base.rb:52:in `visit_children'
\sass\lib/sass/../sass/tree/visitors/perform.rb:27:in `visit_children'
\sass\lib/sass/../sass/tree/visitors/perform.rb:39:in `with_environment'
\sass\lib/sass/../sass/tree/visitors/perform.rb:26:in `visit_children'
\sass\lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
\sass\lib/sass/../sass/tree/visitors/perform.rb:230:in `visit_rule'
\sass\lib/sass/../sass/tree/visitors/base.rb:34:in `send'
\sass\lib/sass/../sass/tree/visitors/base.rb:34:in `visit'
\sass\lib/sass/../sass/tree/visitors/perform.rb:18:in `visit'
\sass\lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
\sass\lib/sass/../sass/tree/visitors/base.rb:52:in `map'
\sass\lib/sass/../sass/tree/visitors/base.rb:52:in `visit_children'
\sass\lib/sass/../sass/tree/visitors/perform.rb:27:in `visit_children'
\sass\lib/sass/../sass/tree/visitors/perform.rb:39:in `with_environment'
\sass\lib/sass/../sass/tree/visitors/perform.rb:26:in `visit_children'
\sass\lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
\sass\lib/sass/../sass/tree/visitors/perform.rb:47:in `visit_root'
\sass\lib/sass/../sass/tree/visitors/base.rb:34:in `send'
\sass\lib/sass/../sass/tree/visitors/base.rb:34:in `visit'
\sass\lib/sass/../sass/tree/visitors/perform.rb:18:in `visit'
\sass\lib/sass/../sass/tree/visitors/perform.rb:7:in `send'
\sass\lib/sass/../sass/tree/visitors/perform.rb:7:in `visit'
\sass\lib/sass/../sass/tree/root_node.rb:20:in `render'
\sass\lib/sass/../sass/engine.rb:291:in `_render'
\sass\lib/sass/../sass/engine.rb:238:in `render'
\sass\lib\sass.rb:32:in `compile'
(eval):0
Mindscape.WebWorkbench.Integration.10:0:in `CompileCore'
Mindscape.WebWorkbench.Integration.10:0:in `Compile'
Mindscape.WebWorkbench.Integration.10:0:in `Compile'
Mindscape.WebWorkbench.Integration.10:0:in `<Compile>b__9'
Mindscape.WebWorkbench.Integration.10:0:in `ConsumerProc'
mscorlib:0:in `ThreadStart_Context'
mscorlib:0:in `Run'
mscorlib:0:in `Run'
mscorlib:0:in `ThreadStart'

CLR exception details:

IronRuby.Classes.SystemException$1: Sass::SyntaxError
   at Microsoft.Scripting.Interpreter.ThrowInstruction.Run(InterpretedFrame frame)
   at Microsoft.Scripting.Interpreter.Interpreter.HandleException(InterpretedFrame frame, Exception exception)
   at Microsoft.Scripting.Interpreter.Interpreter.Run(InterpretedFrame frame)
   at Microsoft.Scripting.Interpreter.LightLambda.Run3[T0,T1,T2,TRet](T0 arg0, T1 arg1, T2 arg2)
   at IronRuby.Runtime.Calls.RubyObjectMethodDispatcherWithScope`1.Invoke[TScope](CallSite callSite, TScope scope, Object self, T0 arg0)
   at System.Dynamic.UpdateDelegates.UpdateAndExecute3[T0,T1,T2,TRet](CallSite site, T0 arg0, T1 arg1, T2 arg2)
   at IronRuby.Runtime.Calls.RubyObjectMethodDispatcherWithScope`1.Invoke[TScope](CallSite callSite, TScope scope, Object self, T0 arg0)
   at IronRuby.Builtins.KernelOps.SendMessage(RubyScope scope, Object self, String methodName, Object arg1)
   at Microsoft.Scripting.Interpreter.FuncCallInstruction`5.Run(InterpretedFrame frame)
   at Microsoft.Scripting.Interpreter.Interpreter.Run(InterpretedFrame frame)
   at Microsoft.Scripting.Interpreter.LightLambda.Run5[T0,T1,T2,T3,T4,TRet](T0 arg0, T1 arg1, T2 arg2, T3 arg3, T4 arg4)
   at Microsoft.Scripting.Interpreter.DynamicInstruction`5.Run(InterpretedFrame frame)
   at Microsoft.Scripting.Interpreter.Interpreter.Run(InterpretedFrame frame)
   at Microsoft.Scripting.Interpreter.LightLambda.Run4[T0,T1,T2,T3,TRet](T0 arg0, T1 arg1, T2 arg2, T3 arg3)
   at Microsoft.Scripting.Interpreter.FuncCallInstruction`6.Run(InterpretedFrame frame)
   at Microsoft.Scripting.Interpreter.Interpreter.Run(InterpretedFrame frame)
   at Microsoft.Scripting.Interpreter.LightLambda.Run4[T0,T1,T2,T3,TRet](T0 arg0, T1 arg1, T2 arg2, T3 arg3)
   at Microsoft.Scripting.Interpreter.DynamicInstruction`4.Run(InterpretedFrame frame)
   at Microsoft.Scripting.Interpreter.Interpreter.Run(InterpretedFrame frame)
   at Microsoft.Scripting.Interpreter.LightLambda.Run2[T0,T1,TRet](T0 arg0, T1 arg1)
   at IronRuby.Runtime.Calls.RubyObjectMethodDispatcherWithScope.Invoke[TScope](CallSite callSite, TScope scope, Object self)
   at Microsoft.Scripting.Interpreter.DynamicInstruction`3.Run(InterpretedFrame frame)
   at Microsoft.Scripting.Interpreter.Interpreter.Run(InterpretedFrame frame)
   at Microsoft.Scripting.Interpreter.LightLambda.Run2[T0,T1,TRet](T0 arg0, T1 arg1)
   at IronRuby.Runtime.Calls.RubyObjectMethodDispatcherWithScope.Invoke[TScope](CallSite callSite, TScope scope, Object self)
   at Microsoft.Scripting.Interpreter.DynamicInstruction`3.Run(InterpretedFrame frame)
   at Microsoft.Scripting.Interpreter.Interpreter.Run(InterpretedFrame frame)
   at Microsoft.Scripting.Interpreter.LightLambda.Run2[T0,T1,TRet](T0 arg0, T1 arg1)
   at IronRuby.Runtime.Calls.RubyObjectMethodDispatcherWithScope.Invoke[TScope](CallSite callSite, TScope scope, Object self)
   at Microsoft.Scripting.Interpreter.DynamicInstruction`3.Run(InterpretedFrame frame)
   at Microsoft.Scripting.Interpreter.Interpreter.Run(InterpretedFrame frame)
   at Microsoft.Scripting.Interpreter.LightLambda.Run4[T0,T1,T2,T3,TRet](T0 arg0, T1 arg1, T2 arg2, T3 arg3)
   at Microsoft.Scripting.Interpreter.FuncCallInstruction`6.Run(InterpretedFrame frame)
   at Microsoft.Scripting.Interpreter.Interpreter.Run(InterpretedFrame frame)
   at Microsoft.Scripting.Interpreter.LightLambda.Run5[T0,T1,T2,T3,T4,TRet](T0 arg0, T1 arg1, T2 arg2, T3 arg3, T4 arg4)
   at System.Dynamic.UpdateDelegates.UpdateAndExecute4[T0,T1,T2,T3,TRet](CallSite site, T0 arg0, T1 arg1, T2 arg2, T3 arg3)
   at Microsoft.Scripting.Interpreter.DynamicInstruction`5.Run(InterpretedFrame frame)
   at Microsoft.Scripting.Interpreter.Interpreter.Run(InterpretedFrame frame)
   at Microsoft.Scripting.Interpreter.LightLambda.Run2[T0,T1,TRet](T0 arg0, T1 arg1)
   at IronRuby.Runtime.RubyScriptCode.Run(Scope scope, Boolean bindGlobals)
   at IronRuby.Runtime.RubyScriptCode.Run(Scope scope)
   at Microsoft.Scripting.SourceUnit.Execute(Scope scope, ErrorSink errorSink)
   at Microsoft.Scripting.Hosting.ScriptSource.Execute(ScriptScope scope)
   at Microsoft.Scripting.Hosting.ScriptEngine.Execute(String expression, ScriptScope scope)
   at Mindscape.VisualSass.Integration.Compilation.ScssCompiler.CompileCore(String scss, String sourceFilePath, IEnumerable`1 additionalPaths, FileSettings settings, CompilationResult result)
 */