.x-ie7 {
  #messageBanner {
    .error, .success, .info {
      height: 16px;
    }
  }
}
#messageBanner {
  position: fixed;
  left: 0;
  top: 74px;
  z-index: 500;

  .error, .success, .info {
    padding: 8px;
    padding-right: 5px;
    font-weight: bold;
    font-size: 15px;
    @include border-radius(3px);
    @include single-box-shadow(#999, 3px, 3px, 8px);
    margin-bottom: 5px;
    height: 36px;
    position: relative;

    .symbol {
      position: absolute;
      left: 6px;
    }

    .message {
      padding:0 20px 0 10px;
    }

    div.close {
      position: absolute;
      right: 3px;
      cursor: pointer;
      background: $messageBanner-close-circle;
      height: 18px;
      width: 18px;
    }
  }

  .info {
    background-color: $messageBanner-info-background;
    border: $messageBanner-info-border;
    color: $messageBanner-info-font-color;
  }
  .error {
    background-color: $messageBanner-error-background;
    border: $messageBanner-error-border;
    color: $messageBanner-error-font-color;

    .symbol {
      background: $messageBanner-error-triangle;
      height: 16px;
      width: 17px;
      margin-right: 5px;
    }
    .message {
      padding-left: 20px;
    }
  }
  .success {
    background-color: $messageBanner-success-background;
    border: $messageBanner-success-border;
    color: $messageBanner-success-font-color;
  }
}