/*
 * Please try to put these rules anywhere else that makes sense, only rules that do not fit into another file can go here
 */

a {
  color: #0066CC;
  text-decoration: underline;
  cursor: pointer;
  &:hover {
    color: $zynx-secondary-border-color;
  }
}

H1, H2, H3, H4 {
  font-weight: bold;
}

@mixin font-color($font, $color) {
  font-size: $font;
  color: $color;
}

H1 {
  @include font-color(18px, $zynx-header-color);
}

H2, .x-panel-reset .x-panel-body h2 {
  @include font-color(15px, $zynx-header-color);
  margin: 0;
}

H3 {
  @include font-color(15px, #999999);
}

H4 {
  @include font-color(12px, #999999);
}

p {
  @include font-color(12px, $zynx-header-color);
}