#workflowStepsPanel {
  overflow-y: auto;
  overflow-x: hidden;
}

.step-row-wrap {
  position: relative;
  padding: 12px;
  padding-bottom: 0;
  .delete-step,
  .drag-step {
    position: absolute;
    height: 30px;
    width: 24px;
    right: 1px;
    top: 6px;
    @include workflow-sprite(0 -157px);
  }
  .duplicate-step {
    position: absolute;
    cursor: pointer;
    height: 30px;
    width: 24px;
    right: 28px;
    top: 6px;
    background-image: theme-background-image($theme-name, 'icons/duplicate.png');
    background-size: contain;
    background-color: transparent;
    background-repeat: no-repeat;
  }
}

.step-row {
  height: 70px;
  border: 1px solid $zynx-header-background-color;
  border-top-width: 12px;
  position: relative;
  background-color: #FFFFFF;
  font: 12px $font-family;
  cursor: move;
  input {
    cursor: text;
  }
  .nameHeader,
  .sequenceHeader,
  .durationHeader {
    font-weight: bold;
  }
  .sequenceHeader,
  .nameHeader,
  .durationHeader,
  .usersHeader,
  .memoHeader,
  .sequenceField,
  .nameField,
  .durationField,
  .usersField,
  .memoField {
    float: left;
    margin: 0;
    padding: 0;
    border-left: 1px solid $zynx-header-background-color;
    padding: 2px 5px;
  }
  .sequenceField,
  .nameField,
  .durationField,
  .usersField,
  .memoField {
    height: 38px;
  }
  .sequenceField input {
    width: 30px;
  }
  .durationFieldInput {
    float: left;
    input {
      float: left;
      width: 30px;
    }
  }
  .durationLabel {
    padding-top: 5px;
    padding-left: 18px;
    float: left;
  }
  .sequenceHeader,
  .sequenceField {
    width: 10%;
  }
  .nameHeader,
  .nameField {
    width: 28%;
  }
  .durationHeader,
  .durationField {
    width: 13%;
  }
  .usersHeader,
  .usersField {
    width: 21%;
  }
  .edit-people,
  .add-people,
  .view-people,
  .edit-memo,
  .add-memo,
  .view-memo {
    float: left;
    height: 18px;
    width: 32px;
    cursor: pointer;
  }
  .edit-people {
    @include workflow-sprite(0 -448px);
  }
  .add-people {
    @include workflow-sprite( 0 -415px);
  }
  .view-people {
    @include workflow-sprite(0 -481px);
  }
  .view-memo {
    @include workflow-sprite(0 -262px);
  }
  .edit-memo {
    @include workflow-sprite(0 -229px);
  }
  .add-memo {
    @include workflow-sprite(0 -196px);
  }
  .plus-icon {
    float: left;
    height: 16px;
    width: 20px;
    @include workflow-sprite(0 -512px);
  }
  .memoHeader,
  .memoField {
    width: 28%;
    clear: right;
  }
}

.deleted-step div.delete-step {
  position: absolute;
  height: 24px;
  width: 24px;
  right: 1px;
  top: 6px;
  width: 24px;
  height: 24px;
  @include workflow-sprite(0 0);
}

.steps-drag-insert-above .step-row-above,
.steps-drag-insert-below .step-row-below {
  margin: 12px;
  height: 56px;
  border: 1px dotted $zynx-header-background-color;
}

.steps-drag-insert-above {
  .delete-step,
  .duplicate-step {
    top: 86px;
  }
}

.#{$prefix}ie7 { // IS Evil
  .step-row {
    height: 60px;
  }
  
  .steps-drag-insert-above {
    .delete-step {
      top: 76px;
    }
  }
  
  .steps-drag-insert-below {
    .step-row-below {
      position: absolute;
      top: 83px;
      width: 95%;
    }
  } 
}

.remove-email {
  font-size: 11px;
  padding-left: 38px;
}

.step-sequence {
  font-weight: bold;
  color: #FFFFFF;
}

.step-name,
.step-duration {
  color: #FFFFFF;
}

@mixin drag-opacity {
  color: $zynx-header-color;
  @include opacity(.45);
}

.deleted-step,
.dragged-step {
  @include drag-opacity;
}

.x-nlg {
  .x-item-disabled, .deleted-step, .dragged-step {
    @include drag-opacity;
  }
}

.#{$prefix}ie8 {
  .deleted-step {
    .step-row,
    .delete-step {
      @include drag-opacity;
    }
  }
}

.#{$prefix}ie7 {
  .deleted-step {
    .step-row,
    .delete-step {
      @include drag-opacity;
      filter: alpha(opacity=45);
    }
  }

  .#{$prefix}dd-drag-proxy {
     .step-row {
         width: 800px;

        .sequenceHeader,
        .sequenceField {
          width: 80px;
        }
        .nameHeader,
        .nameField {
          width: 224px;
        }
        .durationHeader,
        .durationField {
          width: 104px;
        }
        .usersHeader,
        .usersField {
          width: 168px;
        }
        .memoHeader,
        .memoField {
          width: 224px;
          clear: right;
        }
     }
  }
}

.deleted-step a {
  cursor: default;
}

div.delete-step {
  cursor: pointer;
}

.copyStepsWelcomeMemo {
   width: 100%;
   font-size: 30px;
   line-height: 12px;
   text-align: center;
   padding-right: 5px;
}