$summary-border-style: 1px black solid;
.stepSummary {
   background-color: #6495D8;
   border-bottom: $summary-border-style;
   border-left: $summary-border-style;
   border-right: $summary-border-style;
   color: white;
   padding: 5px;
   height: 50px;
   
   div {
      width: 50%;
      float: left;
   }
   
   .date {
      float: right;
      text-align: right;
   }
   
   .header {
      font-weight: bold;
      margin-right: 5px;
   }

   &.first-row {
      border-top: $summary-border-style;
   }
}

.#{$prefix}ie {
  .stepSummary {
    height: 40px; // padding gets added
  }
}

.contentSummary {
   background-color: white;
   border-bottom: $summary-border-style;
   border-left: $summary-border-style;
   border-right: $summary-border-style;
   font-weight: bold;
   color: black;
   padding: 5px;

   .version {
      font-weight: normal;
   }

   .folder {
      font-weight: normal;
   }
   
   .contentStatus {
      font-weight: normal;
   }

   &.alternate {
      background-color: #C8D8EF;
   }

   &.first-row {
      border-top: $summary-border-style;
   }
}