/*
 * Flipping x-tab-bar back to position absolute instead of relative because the framework was incorrectly position body elements within tabs
 * to have a top parameter of whatever the tab bar height was, leaving a gap between the tab bar and the body.  swapping back to absolute
 * the top parameter being set becomes correct and places it immediately under the tab bar.  Potentially a framework bug - will be reported
 */
.#{$prefix}tab-bar {
  position: absolute;
  background-image: none;
  background-color: $tab-background;
}

.#{$prefix}tab-top-active {
  background-image: none;
  background-color: $tab-background-active;
  border: none !important;
}

.#{$prefix}nlg {
  .#{$prefix}tab-active {
    .#{$prefix}tab-default-top-mc {
      background-image: none;
      background-color: $tab-background-active;
    }
  }
  .#{$prefix}tab-bar {
    background-image: none;
  }
  .#{$prefix}tab-over {
    .#{$prefix}tab-default-top-mc {
      background-color: $tab-background-over;
    }
  }
}

.#{$prefix}tab-over {
  background-color: $tab-background-over;
  button {
    color: $tab-color-active;
  }
}

.#{$prefix}tab-default-top {
  border-bottom: 0px !important;
}


.#{$prefix}gecko #views-reports-page .#{$prefix}tab-bar-body {
  margin-bottom: -1px;
}

$reports-tab-height: 20px;
#views-reports-page {
  .#{$prefix}tab {
    background-image: none;
    background-color: #DDDDDD;
    height: $reports-tab-height;
    border: 1px solid #999 !important;
    border-bottom: none;
    margin-left: 6px; 
  }
  .#{$prefix}tab-bar{
    background-image: none;
    background-color: transparent;
    padding:0; 
    border: 0;
    font-size: 12px;
   }
   .#{$prefix}tab-bar-body {
      height: $reports-tab-height;
   }
   button {
     height: $reports-tab-height;
   }
  .#{$prefix}tab-inner {
    color: #000;
    padding: 2px 0;
    height: $reports-tab-height;
    line-height: 15px;
    font-weight: normal;
  }
  .#{$prefix}tab-active {
    background-color: $tab-background-active;
    border: 1px solid #000 !important;
    margin-left: 6px; 
    .#{$prefix}tab-inner {
      font-weight: bold;
    }
  }
}

.#{$prefix}ie {
  .#{$prefix}box-inner {
    height: $reports-tab-height;
  }
  .#{$prefix}tab {
    margin-top: 1px !important;
  }
}

@mixin ie-report-tab-background {
  background-image: none;
  background-color: #DDDDDD;
}
.report-grid-tabs {
  .#{$prefix}tab-default-top-mc {
    @include ie-report-tab-background;
  }

  .#{$prefix}nlg .#{$prefix}tab-default-top-mc {
    @include ie-report-tab-background;
  }   
}
