/* Toolbar */

.#{$prefix}toolbar {
  border: none;
}

.#{$prefix}nlg {
  .paging-toolbar {
    .#{$prefix}btn-default-toolbar-small-mc {
      background-color: transparent;
    }
  }
}

.breadcrumb-bar {
  max-width: 960px;
  height: 26px;
  border: 1px solid #000;
  min-width: 465px;
}

.breadcrumb-header-toolbar {
  .#{$prefix}toolbar-text {
    left: 0 !important;
  }
}
.#{$prefix}ie { 
  .breadcrumb-header-toolbar {
    height: 28px !important;
  }
  .breadcrumb-step {
    height: 26px;
  }
}

.breadcrumb-bar-last-page {
  background-color: $breadcrumb-background-color;
}

.breadcrumb-arrow {
  display: block;
  position: absolute;
  top: -1px;
  right: -14px;
  text-indent: -9999px;
  width: 14px;
  height: 27px;
}

@mixin breadcrumb-arrow {
  background-image: theme-background-image($theme-name, 'shared/breadcrumb-right-arrow.png');
  background-repeat: no-repeat;
  background-color: transparent;
}

.breadcrumb-blue-arrow {
  @include breadcrumb-arrow;
  background-position: 0 -27px;
}

.breadcrumb-white-arrow {
  @include breadcrumb-arrow;
  background-position: 0 0;
}

.#{$prefix}toolbar {
  .breadcrumb-step {
    float: left;
    display: block;
    width: 29%;
    height: 100%;
    line-height: 25px;
    padding-left: 20px;
    position: relative;
    font-size: 11px;
  }
  .breadcrumb-blue-step {
    background-color: $breadcrumb-background-color;
    font-weight: bold;
    color: #fff;
  }
  .breadcrumb-white-step {
    color: #000;
  }
  .breadcrumb-highest {
    z-index: 200;
  }
  .breadcrumb-high {
    z-index: 100;
  }
}