$zynx-border-color: #595959;
$zynx-secondary-border-color: #003399;
$zynx-active-element-background-color: #3386D6;
$zynx-header-background-color: #588BD1;
$zynx-header-color: #333333;
$zynx-selected-background-color: #8FA6C4;
$breadcrumb-background-color: #0086DA;
$zynx-blue-panel-background-color: #E8EBF3;
$sprite: theme-image($theme-name, 'shared/sprite.png', false, false);
// RW - second sprite is temporary until we can move all apps to 4.1.x
$sprite-ce: theme-image($theme-name, 'shared/sprite-ce.png', false, false);
$sprite-beta: $sprite no-repeat -1145px -746px;

@import 'variables/banner';
@import 'variables/button';
@import 'variables/contentexplorer';
@import 'variables/findreplace';
@import 'variables/messageBanner';
@import 'variables/form';
@import 'variables/grid';
@import 'variables/panel';
@import 'variables/window';
@import 'variables/tabs';
@import 'variables/toolbar';
@import 'variables/loadmask';
@import 'variables/selfservicereports';
@import 'variables/selfservicereports-IE8';